<h4>Press</h4>
<hr />
<h5>Print</h5>
{% for block in section.blocks %}
  {% if block.settings.press-item-type == "print" %}
  <p>
    <a href="{{ block.settings.press-item-link }}"><span>{{ block.settings.press-item-title }}</span> &bull; {{ block.settings.press-item-date }}</a>
  </p>
  {% endif %}
{% endfor %}
<h5>Digital</h5>
{% for block in section.blocks %}
  {% if block.settings.press-item-type == "digital" %}
  <p>
    <a href="{{ block.settings.press-item-link }}"><span>{{ block.settings.press-item-title }}</span> &bull; {{ block.settings.press-item-date }}</a>
  </p>
  {% endif %}
{% endfor %}
{% schema %}
  {
    "name": "Press",
    "max_blocks": 16,
    "blocks" : [
      {
        "type": "text",
        "name": "Press Item",
        "settings": [
          {
            "type": "text",
            "id": "press-item-title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "press-item-link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "press-item-date",
            "label": "Date"
          },
          {
            "type": "radio",
            "label": "Type",
            "id": "press-item-type",
            "options": [
              { 
                "value": "print",
                "label": "Print"
              },
              { 
                "value": "digital",
                "label": "Digital"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}